
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/Instrucciones.css" rel="stylesheet" />
    <title>¿Quién es quién?</title>
</head>
<body>
    <header>
        <ul id="container-nav">
            <li id="first">
                <a href="@Url.Action("Home", "QEQ")"><img id="logo" src="~/Images/logo.gif" alt="¿Quién es quién?"></a>
            </li>
            <li>
                <a href="@Url.Action("About", "QEQ")">【﻿Ａ　ｃｅｒｃａ　ｄｅ】</a>
            </li>
            <li>
                <a href="@Url.Action("Instrucciones", "QEQ")">【﻿Ｉｎｓｔｒｕｃｃｉｏｎｅｓ】</a>
            </li>
            <li>
                <a href="@Url.Action("Login", "QEQ")">【﻿Ｉｎｉｃｉａｒ ｓｅｓｉｏｎ】</a>
            </li>
        </ul>
    </header>
    <ul id="container-about">
        <li>
            <h2>EN CONSTRUCCION</h2>
        </li>
    </ul>
</body>
</html>