
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/About.css" rel="stylesheet" />
    
    <title>¿Quién es quién?</title>
</head>
<body>
    <header>
        <ul id="container-nav">
            <li id="first">
                <a href="@Url.Action("Home", "QEQ")"><img id="logo" src="~/Images/logo.gif" alt="¿Quién es quién?"></a>
            </li>
            <li>
                <a href="@Url.Action("About", "QEQ")">【﻿Ａ　ｃｅｒｃａ　ｄｅ】</a>
            </li>
            <li>
                <a href="@Url.Action("Instrucciones", "QEQ")">【﻿Ｉｎｓｔｒｕｃｃｉｏｎｅｓ】</a>
            </li>
            <li>
                <a href="@Url.Action("Login", "QEQ")">【﻿Ｉｎｉｃｉａｒ ｓｅｓｉｏｎ】</a>
            </li>
        </ul>
    </header>
    <ul id="container-about">
        <li>
            <h2>／＊Ｅｓｔａ　ｐａｇｉｎａ　ｆｕｅ　ｄｅｓａｒｒｏｌｌａｄａ　ｐｏｒ：　ネ椅屋ギ緯</h2>
        </li>
        <li>
            <h2>Ｄｏｌｏｒｅｓ　Ｌｏｐｅｚ　Ｊｏｆｆｒｅ　亜リ意</h2>
        </li>
        <li>
            <h2>Ｅｚｅｑｕｉｅｌ　Ｌｅｏｎｅｌ　Ｒａｍｉｓ　Ｆｏｌｂｅｒｇ　育とグテ</h2>
        </li>
        <li>
            <h2>Ｆｅｄｅｒｉｃｏ　Ｈａｂｅｒ　価ぜ流</h2>
        </li>
        <li>
            <h2>Ｔａｄｅｏ　Ｇａｖｅｎｓｋｙ　偉緯バ＊／</h2>
        </li>
    </ul>
</body>
</html>