
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/home.css" rel="stylesheet" />
    <title>¿Quién es quién?</title>
</head>
<body>
    <header>
        <ul id="container">
            <li id="first">
                <a href="@Url.Action("home", "QEQ" )"><img id="logo" src="~/Images/logo.gif" alt="¿Quién es quién?"></a>
            </li>
            <li>
                <a href="@Url.Action("about", "QEQ" )">【﻿Ａ　ｃｅｒｃａ　ｄｅ】</a>
            </li>
            <li>
                <a href="@Url.Action("instructions", "QEQ" )">【﻿Ｉｎｓｔｒｕｃｃｉｏｎｅｓ】</a>
            </li>
            <li>
                <a href="@Url.Action("login", "QEQ" )">【﻿Ｉｎｉｃｉａｒ ｓｅｓｉｏｎ】</a>
            </li>
        </ul>
    </header>
    <main>
        <h1>
            ／／Ｂｉｅｎｖｅｎｉｄｏ░ａ░Ｑｕｉｅｎ－ｅｓ－ｑｕｉｅｎ．ｅｘｅ　（唄ゞ偉）
        </h1>
</body>
</html>