
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/Login.css" rel="stylesheet" />
    <title>¿Quién es quién?</title>
</head>
<body>
    <header>
        <ul id="container-nav">
            <li id="first">
                <a href="@Url.Action("Home", "QEQ")"><img id="logo" src="~/Images/logo.gif" alt="¿Quién es quién?"></a>
            </li>
            <li>
                <a href="@Url.Action("About", "QEQ")">【﻿Ａ　ｃｅｒｃａ　ｄｅ】</a>
            </li>
            <li>
                <a href="@Url.Action("Instrucciones", "QEQ")">【﻿Ｉｎｓｔｒｕｃｃｉｏｎｅｓ】</a>
            </li>
            <li>
                <a href="@Url.Action("Login", "QEQ")">【﻿Ｉｎｉｃｉａｒ ｓｅｓｉｏｎ】</a>
            </li>
        </ul>
    </header>
    <form action="ActionLogin" method="post">
        <label for="Usuario">Ｕｓｕａｒｉｏ　悪詠ヷ</label>
        <input type="text" name="Usuario" id="Usuario">
        <label for="pwd">Ｃｏｎｔｒａｓｅñａ　ぞゔセ</label>
        <input type="password" name="Contraseña" id="pwd">
        <input type="submit" name="Contraseña">  
    </form>
</body>
</html>