USE [master]
GO
/****** Object:  Database [QEQC07]    Script Date: 16/10/2018 12:05:34 ******/
CREATE DATABASE [QEQC07]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QEQC07', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QEQC07.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QEQC07_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QEQC07_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QEQC07].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QEQC07]
GO
USE [QEQC07]
GO
/****** Object:  User [QEQC07]    Script Date: 16/10/2018 12:05:35 ******/
CREATE USER [QEQC07] FOR LOGIN [QEQC07] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [QEQC07]
GO
/****** Object:  Table [dbo].[CARACTERISTICAS]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARACTERISTICAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Caracteristica] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CARACTERISTICAS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAJES]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAJES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Foto] [varchar](100) NOT NULL,
	[fkCategoria] [int] NOT NULL,
 CONSTRAINT [PK_PERSONAJES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREGUNTAS]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREGUNTAS](
	[fkPersonaje] [int] NOT NULL,
	[fkCaracteristica] [int] NOT NULL,
	[Tiene] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RANKING]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RANKING](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Puntaje] [int] NOT NULL,
 CONSTRAINT [PK_RANKING] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[Usuario] [varchar](100) NOT NULL,
	[Mail] [varchar](100) NOT NULL,
	[Contraseña] [varchar](100) NOT NULL,
	[Perfil] [bit] NOT NULL,
	[Botin] [int] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[USUARIOS] ([Usuario], [Mail], [Contraseña], [Perfil], [Botin]) VALUES (N'pedroesinferior', N'qeq@qeqeq.com', N'vaporwaveismylife', 1, 0)
INSERT [dbo].[USUARIOS] ([Usuario], [Mail], [Contraseña], [Perfil], [Botin]) VALUES (N'peronchi', N'peron@yahoo.com', N'evita<3', 0, 0)
ALTER TABLE [dbo].[PERSONAJES]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAJES_CATEGORIAS] FOREIGN KEY([fkCategoria])
REFERENCES [dbo].[CATEGORIAS] ([id])
GO
ALTER TABLE [dbo].[PERSONAJES] CHECK CONSTRAINT [FK_PERSONAJES_CATEGORIAS]
GO
ALTER TABLE [dbo].[PREGUNTAS]  WITH CHECK ADD  CONSTRAINT [FK_CARACTERISTICASxPERSONAJES_CARACTERISTICAS] FOREIGN KEY([fkCaracteristica])
REFERENCES [dbo].[CARACTERISTICAS] ([id])
GO
ALTER TABLE [dbo].[PREGUNTAS] CHECK CONSTRAINT [FK_CARACTERISTICASxPERSONAJES_CARACTERISTICAS]
GO
ALTER TABLE [dbo].[PREGUNTAS]  WITH CHECK ADD  CONSTRAINT [FK_CARACTERISTICASxPERSONAJES_PERSONAJES] FOREIGN KEY([fkPersonaje])
REFERENCES [dbo].[PERSONAJES] ([id])
GO
ALTER TABLE [dbo].[PREGUNTAS] CHECK CONSTRAINT [FK_CARACTERISTICASxPERSONAJES_PERSONAJES]
GO
/****** Object:  StoredProcedure [dbo].[EliminarPersonaje]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarPersonaje]
	
	@idpersonaje int

AS
BEGIN
	
	SET NOCOUNT ON;

    DELETE FROM PERSONAJES
	WHERE id = @idpersonaje

END

GO
/****** Object:  StoredProcedure [dbo].[InsertarPersonaje]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InsertarPersonaje] 
	
	@nombre varchar(100),
	@foto varchar(100),
	@categoria varchar(100)

AS
BEGIN
	
	SET NOCOUNT ON;

    IF EXISTS(SELECT * FROM CATEGORIAS WHERE Categoria = @categoria)
	BEGIN
		DECLARE @idcategoria int
		SELECT @idcategoria = id FROM CATEGORIAS WHERE Categoria = @categoria

		INSERT INTO PERSONAJES (Nombre, Foto, fkCategoria) VALUES (@nombre, @foto, @idcategoria)
	END

END
GO
/****** Object:  StoredProcedure [dbo].[ListarCaracteristicas]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarCaracteristicas]
	
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT * FROM CARACTERISTICAS
	  
END


GO
/****** Object:  StoredProcedure [dbo].[ListarCaracteristicasPersonaje]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarCaracteristicasPersonaje]
	
	@idpersonaje int

AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT CARACTERISTICAS.Caracteristica 
	FROM PREGUNTAS
	INNER JOIN CARACTERISTICAS ON CARACTERISTICAS.id = PREGUNTAS.fkCaracteristica
	INNER JOIN PERSONAJES ON PERSONAJES.id = PREGUNTAS.fkPersonaje
	WHERE fkPersonaje = @idpersonaje

END

GO
/****** Object:  StoredProcedure [dbo].[ListarCategorias]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarCategorias]
	
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT * FROM Categorias
  
END


GO
/****** Object:  StoredProcedure [dbo].[ListarPersonajes]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarPersonajes]
	
	@categoria varchar(100)

AS
BEGIN
	
	SET NOCOUNT ON;

	IF(@categoria != 'todos')
	BEGIN
		IF EXISTS (SELECT * FROM CATEGORIAS WHERE Categoria = @categoria)
		BEGIN
			DECLARE @idcategoria int
			SELECT @idcategoria = id FROM CATEGORIAS WHERE Categoria = @categoria

			SELECT PERSONAJES.id, Nombre, Foto, CATEGORIAS.id AS 'IdCategoria', CATEGORIAS.Categoria
			FROM PERSONAJES
			INNER JOIN CATEGORIAS ON CATEGORIAS.id = PERSONAJES.fkCategoria
			WHERE fkCategoria = @idcategoria
		END
	END
	ELSE
	BEGIN
		SELECT PERSONAJES.id, Nombre, Foto, CATEGORIAS.id AS 'IdCategoria', CATEGORIAS.Categoria
		FROM PERSONAJES
		INNER JOIN CATEGORIAS ON CATEGORIAS.id = PERSONAJES.fkCategoria
	END
	  
END


GO
/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LoginUsuario]
	@usuario varchar(100), @pass varchar(100)	
AS
BEGIN
	if exists (select * from USUARIOS where @usuario = Usuario and @pass = Contraseña)
	begin
	select * from USUARIOS where @usuario = Usuario and @pass = Contraseña
	end
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarUsuario]

@usuario varchar(100),
@mail varchar(100),
@contra varchar(100),
@perfil varchar(100)

AS
BEGIN
	

	SET NOCOUNT ON;
	IF NOT EXISTS(SELECT * FROM USUARIOS WHERE Usuario = @usuario)
	BEGIN
		DECLARE @idperfil int
		IF(@perfil != 'administrador')
		BEGIN
			SELECT @idperfil = 0
		END
		ELSE
		BEGIN
			SELECT @idperfil = 1
		END

		INSERT INTO USUARIOS (Usuario, Mail, Contraseña, Perfil, Botin) VALUES (@usuario, @mail, @contra, @idperfil, 0)
	END  

END
GO
/****** Object:  StoredProcedure [dbo].[TraerCaracteristica]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TraerCaracteristica]

	@idcaracteristica int
	
AS
BEGIN
	
	SELECT * FROM CARACTERISTICAS
	WHERE id = @idcaracteristica

END


GO
/****** Object:  StoredProcedure [dbo].[TraerPersonaje]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TraerPersonaje]
	
	@idpersonaje int

AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT * FROM PERSONAJES
	WHERE id = @idpersonaje	

END


GO
/****** Object:  StoredProcedure [dbo].[TraerPregunta]    Script Date: 16/10/2018 12:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TraerPregunta] 
	
	@idpersonaje int,
	@idcaracteristica int

AS
BEGIN
	
	IF EXISTS (SELECT * FROM PREGUNTAS WHERE fkPersonaje = @idpersonaje AND fkCaracteristica = @idcaracteristica)
	BEGIN
		SELECT * FROM PREGUNTAS
		WHERE fkPersonaje = @idpersonaje AND fkCaracteristica = @idcaracteristica
	END
	
END


GO
USE [master]
GO
